body {
  font-family: Arial;
  direction: rtl;
  padding: 20px;
  background: #f9f9f9;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  padding: 5px;
  width: 150px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}
